<a href="https://colab.research.google.com/github/gmehra123/data_science_projs/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Basic Data Structures
1. List collection of objects not all of the same data type
2. Dictionary collection of objects in key value pairs

In [23]:
# Basic data structures
l=[]
l=[1,2,3,'Hi',89]
# Accesing elements of a list
l[0]

1

In [24]:
# Add an element to a list
l.append(99)
l

[1, 2, 3, 'Hi', 89, 99]

In [25]:
# Getting a slice from the list
l[1:4]

[2, 3, 'Hi']

In [26]:
# Dictionary
d={'element_1':23,'element_2':45,'element_3':67}

In [27]:
# getting a element in a dictionary. Refer to keys
d['element_3']

67

In [28]:
# Looping through a dictionary
for a,b in d.items():
  print(a,b)

element_1 23
element_2 45
element_3 67

### Data Frames
* Similar to dataframes in any other language
* Arranged in rows and columns
* Every data frame will have an index by default
* A column of a data frame is referred to as a pandas series. Again pandas series will have an index

In [3]:
data=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')

In [30]:
# Check 1st 5 rows
data.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [31]:
# Check last 5 rows
data.tail(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9