<a href="https://colab.research.google.com/github/gmehra123/data_science_projs/blob/main/Codealong1_loops_and_simulations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Review lists
# Intialize an empty list
l = []
# Append values to a list
l.append(45)
l.append(30)
print(l)

[45, 30]

In [6]:
# Review for loop
# for loop in a list
for item in l:
  print(item)

# executing for loop a se number of times
for i in range(10):
  print("Repeatable task")

45
30
Repeatable task
Repeatable task
Repeatable task
Repeatable task
Repeatable task
Repeatable task
Repeatable task
Repeatable task
Repeatable task
Repeatable task

In [7]:
# Convert list to numpy array for easy math
np.array(l)

array([45, 30])

In [8]:
# Reading a dataframe from a csv file
cal = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [10]:
# Taking a sample from a dataframe of size n
cal.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
13558,-121.97,37.54,28.0,2312.0,496.0,1344.0,467.0,4.7135,203200.0
4249,-118.00,33.84,29.0,2641.0,637.0,2413.0,619.0,2.8169,165100.0
13227,-121.90,37.25,28.0,2714.0,502.0,1389.0,490.0,5.7385,240400.0
6064,-118.22,33.90,30.0,1007.0,260.0,1112.0,238.0,1.7262,115600.0
6656,-118.28,33.73,39.0,2602.0,802.0,2178.0,737.0,2.0469,234500.0

In [16]:
# sample of the same size as the data frame (bootstrap replicate)
cal_bs_rep = cal.sample(frac=1.0,replace = True)
print("Re-Sample with replacement has shape ",cal_bs_rep.shape)
print("Original datae shape ", cal.shape)
print("Cal original median population ", cal.population.median())
print("Re-Sample median population ", cal_bs_rep.population.median())

Re-Sample with replacement has shape  (17000, 9)
Original datae shape  (17000, 9)
Cal original median population  1167.0
Re-Sample median population  1157.0