In [3]:
import preprocessing.pre1
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame({'A':[1,2,3,4],'B':[1,2,3,np.nan]})

In [5]:
preprocessing.pre1.low_case_columns(df)

   a    b
0  1  1.0
1  2  2.0
2  3  3.0
3  4  NaN

In [6]:
preprocessing.pre1.impute_numeric_values(df)

   a    b
0  1  1.0
1  2  2.0
2  3  3.0
3  4  2.0